body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0 10%;
  font-size: 16px;
  color: #000000;
}

.logo {
  margin: 10px;
}
/* Background pattern from Toptal Subtle Patterns */
h1 {
  font-family: "Noto Serif Display", serif;
  text-align: center;
  font-size: 4em;
  font-weight: 400;
}

h2 {
  font-family: "Noto Serif Display", serif;
  text-align: center;
  font-size: 3em;
  line-height: 40px;
  font-style: italic;
  color: #5a5a5a;
  font-weight: 400;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}

hr {
  border: none;
  height: 50px;
  margin-top: 50px;
  background: url("horiz_dec.svg") no-repeat top center;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  padding: 0 20px 0 20px;
}

.copy {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 1em;
  padding: 0 100px 0 100px;
  line-height: 1.5em;
}

.container {
  border: 1px solid #5a5a5a;
  padding: 10px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.color-container h3 {
  width: 100%;
  text-align: center;
}

.color-panel {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin: 2%;
  min-height: 100px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
}

.color-label {
  margin-top: 45px;
  font-size: 0.9em;
}

.color-desc {
  display: inline-block;
  margin: 20px;
}

.color-hex {
  font-size: 0.7em;
}

.white {
  background-color: #ffffff;
  color: #000;
}

.gray {
  background-color: #707070;
  color: #fff;
}

.sunshine_yellow {
  background: #f09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #edde5d,
    #f09819
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #edde5d,
    #f09819
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #000000;
}

.sunkist {
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f2c94c,
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f2c94c,
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #000;
}

.moonlit_asteroid {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #f0f7ee;
}

.deep_space {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #f3f3f3;
}

.forest_green {
  background: #52c234; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #123d34,
    #63c435
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #123d34,
    #63c435
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
}

.cedar {
  background-color: #c05746;
  color: #f0f7ee;
}

.narrow-container {
  width: 60%;
  margin: auto;
}

.font-panel {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.light {
  font-weight: 300;
}

.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.light {
  font-weight: 300;
}

.nunito-sans,
li {
  font-family: "Nunito Sans", sans-serif;
}

.noto_serif_display {
  font-family: "Noto Serif Display", serif;
}

.text-panel h1 {
  font-size: 4em;
  font-family: "Noto Serif Display", serif;
  text-align: left;
}

.text-panel h2 {
  font-weight: 400;
  font-size: 3em;
  font-family: "Noto Serif Display", serif;
  text-align: left;
}

.text-panel h3 {
  font-weight: 300;
  font-size: 2em;
}

.text-panel p {
  font-weight: 400;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.text-panel p.copy {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 1em;
  padding: 0;
}

.button {
  height: 50px;
  width: 160px;
  border-radius: 10px;
  color: #250902;
  margin: 0 auto;
  -webkit-box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.5);
}

.button-purchase {
  background: #f09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #edde5d,
    #f09819
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #edde5d,
    #f09819
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-hover {
  background: #52c234; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #123d34,
    #63c435
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #123d34,
    #63c435
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.button-info {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #f3f3f3;
}

.button-desc {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin: 0 5%;
}

.button-desc.h3 {
  text-align: center;
  color: #01161e;
}

.button-text {
  font-size: 0.9em;
  text-align: center;
  padding-top: 9%;
  font-weight: 700;
}
